package ${path}.${servicePath}.impl;

import org.springframework.stereotype.Service;
import ${path}.${servicePath}.impl.base.BaseServiceImpl; 
import ${path}.${servicePath}.${uname}Service; 

/**
* ${uname}业务操作接口实现
*
* @author  administrator
* @version  [版本号, ${date}]
* @see  [相关类/方法]
* @since  [产品/模块版本]
*/
@Service
public class ${uname}ServiceImpl extends BaseServiceImpl implements ${uname}Service {

	public ${uname}ServiceImpl() {
		super();
		this.mapper="${uname}Mapper";
	}
}
